body	{font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	background-color: #edede3}

h1	{font-size: 38px}

p	{line-height: 1.5}

/* ヘッダー */
header	{background-color: #ffffff}

/* 記事 */
article	{background-color: #ffffff;
	width: 900px;
	margin-left: auto;
	margin-right: auto}

/* フッター */
footer	{width: 900px;
	margin-left: auto;
	margin-right: auto}

