button {
    outline: none;
    border: none;
}

.btn  {
    font-family: "DotGothic16", sans-serif;
    padding: 1rem 2rem;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    color: hsl(55, 73%, 97%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(0.99);
        opacity: 0.9;
    }
}

.btn--play {
    background-color: rgb(209, 174, 44);
}

.btn--rule {
    background-color: rgb(252, 195, 0);
}

.btn--high {
    background-color: rgb(252, 75, 72);
}

.btn--low {
    background-color: rgb(61, 185, 242);
}

.btn--result {
    background-color: rgb(133, 86, 62);
}

.btn--continue {
    background-color: rgb(74, 228, 72);
}

.btn--back {
    background-color: rgb(133, 86, 62);
}

.btn--retry {
    background-color: rgb(252, 195, 0);
}
